html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--color-gray-white);
    font-family: 'Space Grotesk', monospace, 'Courier New';
    color: #333;
    line-height: 1.5;
    height: 100vh;
    font-size: 1.4rem;
}
