$enable-form: true;
$enable-buttons: true;

// FORM
@if $enable-form {
    .form {
        &-group {
            padding: 0;
            margin-top: 0.4rem;
            border: none;
        }

        &-field {
            &-v {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 0.4rem;
                padding-block: 0.4rem;
            }

            &-h {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 0.4rem;
                padding-block: 0.4rem;
            }
        }

        &-label,
        &-group > legend {
            display: inline-block;
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 500;
            vertical-align: middle;
        }

        &-label,
        &-group > legend::first-letter {
            text-transform: capitalize;
        }

        &-input {
            transition: all 0.15s ease-in-out;
            font-size: 1.4rem;
            line-height: 2rem;
            border-radius: 0.4rem;
            outline-offset: 0.2rem;
            border: 2px solid var(--border-color);
            background-color: var(--color-gray-ghost-white);

            &[type='text'],
            &.textarea {
                width: 100%;
                padding: 0.4rem 0.8rem;
                flex: 0 0 100%;
            }

            &[type='radio'] {
                border-radius: 2.4rem;

                &:checked::before {
                    border-radius: 1.6rem;
                    right: 50%;
                    transform: translateX(50%) translateY(-50%);
                    background-color: var(--color-gray-ghost-white);
                }
            }

            &[type='checkbox'] {
                &:checked::before {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    content: '✖';
                    color: var(--color-gray-ghost-white);
                    right: 50%;
                    transform: translateX(50%) translateY(-50%);
                    font-weight: 700;
                }

                &[role='switch'] {
                    width: 4.8rem;
                    border-radius: 1.6rem;

                    &::before {
                        left: 0.2rem;
                        background-color: var(--border-color);
                        border-radius: 1.6rem;
                        transition: left 0.15s ease-in-out;
                    }

                    &:checked::before {
                        left: 1.8rem;
                        background-color: var(--color-gray-ghost-white);
                    }
                }
            }

            &[type='checkbox'],
            &[type='radio'] {
                display: inline-block;
                vertical-align: middle;
                appearance: none;
                cursor: pointer;
                position: relative;
                height: 2.4rem;
                width: 2.4rem;

                &::before {
                    content: '';
                    position: absolute;
                    width: 1.6rem;
                    height: 1.6rem;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:checked {
                    background-color: var(--border-color);
                }
            }
        }
    }
}

// END FORM

// BUTTONS
@if $enable-buttons {
    .btn {
        padding: var(--space-2) var(--space-4);
        border: 2px solid var(--border-color);
        border-radius: var(--space-2);
        font-weight: 500;
        background-color: var(--color-gray-ghost-white);
        cursor: pointer;
        line-height: 20px;
        height: fit-content;
        text-decoration: none;
        color: #333;

        &:hover {
            background-color: var(--color-purple-magnolia);
        }

        &:active {
            background-color: var(--color-purple-pale-purple);
        }

        &.active,
        &.router-link-active {
            color: var(--color-gray-ghost-white);
            background-color: var(--color-purple-mardi-gras);
        }
    }
}

// END BUTTONS
