@use './../mixins/media' as media;

$columns: 12;

%container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding: 0 3.6rem;
}

.container {
  @extend %container;
}

.container-cp {
  @extend %container;
  padding: 0 1.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.2rem;
}

.col {
  flex: 1 1 0;
  padding: 0 1.2rem;
}

@mixin col($i) {
  width: calc((100% / #{$columns}) * #{$i});
  padding: 0 1.2rem;
}
@mixin row-col($i) {
  width: calc(100% / #{$i});
  padding: 0 1.2rem;
}

@mixin columner($sufix) {
  @if $sufix {
    $sufix: '-' + $sufix;
  }

  @for $i from 1 to $columns + 1 {
    .col-#{$i}#{$sufix} {
      @include col($i);
    }

    .row-cols-#{$i}#{$sufix} > .col {
      @include row-col($i);
    }
  }
}

@include media.all() using ($m) {
  @include columner($m);
}
